.sidebar{
    width: 20%;
}

.main-content{
    width: fit-content;
}

ul{
    list-style-type: none;

}

#chat-msg-input{
    width: 100%;
}
#msg-container{
    overflow: scroll;
    overflow-x: hidden;
    height: 60%;
}