body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.partie-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrer les parties horizontalement */
}

.partie {
    width: 80%; /* Ajuster la largeur des parties */
    margin-bottom: 20px; /* Espacement entre les parties */
}

.partie-content {
    display: flex;
    justify-content: space-between; /* Espace égal entre les sections */
}

.partie-title {
    text-align: center;
    margin-top: 20px;
}

section {
    background-color: rgb(217, 221, 235);
    padding: 20px;
    border: 1px solid #ccc;
    text-align: center;
    width: 48%; /* Ajuster la largeur des sections */
}



/* Ajouter le style pour l'effet d'agrandissement */
.game-section {
    transition: transform 0.3s ease; /* Ajoute une transition pour un effet de transition en douceur */
}

.game-section:hover {
    transform: scale(1.3); /* Agrandit la section de 10% lorsqu'elle est survolée */
}



nav {
    background-color: rgb(110, 140, 164);
    padding: 10px 0;
    text-align: center;
	height: 60px;
	z-index: 2;
	position: relative;
}

.nav-items {
    display: flex; /* Utilisez la mise en page flexbox */
    align-items: center; /* Alignez les éléments verticalement */
    justify-content: center;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
	align-items: center;
}

.nav-items a:hover {
    background-color: #181a45;
	align-items: center;
}

.nav-item {
    position: relative;
	align-items: center;
	
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(110, 140, 164); /* Background color for submenu */
    padding: 5px;
}

.nav-item.has-submenu:hover .submenu {
    display: block;
}

.nav-list, .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.pc-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.pc-button:hover {
    background-color: #181a45;
}
