/* Style général */
body {
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    color: #502a2a;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

img {
    max-width: 40%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

header {
    background-color: rgb(61, 68, 98);
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

nav {
    background-color: rgb(110, 140, 164);
    padding: 10px 0;
    text-align: center;
	height: 60px;
	z-index: 2;
	position: relative;
}

.nav-items {
    display: flex; /* Utilisez la mise en page flexbox */
    align-items: center; /* Alignez les éléments verticalement */
    justify-content: center;
}

.nav-items a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
	align-items: center;
}

.nav-items a:hover {
    background-color: #181a45;
	align-items: center;
}

.nav-item {
    position: relative;
	align-items: center;
	
}


.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgb(110, 140, 164); /* Background color for submenu */
    padding: 5px;
}

.nav-item.has-submenu:hover .submenu {
    display: block;
}

.nav-list, .submenu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}



.container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

.main-content {
    flex-grow: 1;
    background-color: rgb(217, 221, 235);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.sidebar {
    width: 0%;
}

.sidebar {
    float: left;
    width: 70%; /* Ajustez la largeur selon vos préférences */
    padding: 20px;
    margin-bottom: 20px;
}

.bottom-sidebar {
    order: 2;
}

/* Style du contenu principal */

.sidebar section {
    margin-bottom: 20px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    margin-bottom: 5px;
}

.button-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: #424f8b; /* Couleur du fond du bouton */
    color: #fff; /* Couleur du texte du bouton */
    text-decoration: none;
    border-radius: 100px;
    transition: background-color 0.3s;
	line-height: 1.6;

}

.button-link:hover {
    background-color: #181a45; /* Couleur du fond du bouton au survol */
	
	
}
.changeCouleur {
    color: black; /* Couleur spécifique pour le titre avec la classe 'changeCouleur' */
	text-align: center;
}
/* Style for the buttons */
.button-container {
    display: flex;
    justify-content: center; /* Aligner les boutons horizontalement au centre */
    margin-bottom: 10px; /* Espacement entre les lignes de boutons */
}

.button-container:last-child {
    margin-bottom: 0; /* Supprimer l'espacement sous le dernier groupe de boutons */
}

/* Style pour les boutons */
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #424f8b;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px; /* Espacement entre les boutons */
}

button:hover {
    background-color: #181a45;
}

.pc-button {
    background-color: transparent;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0 5px;
}

.pc-button:hover {
    background-color: #181a45;
}

.inscription-form {
    position: relative;
    margin: auto;
    width: 50%; /* Ajustez la largeur selon vos préférences */
    padding: 50px;
    border-radius: 5px;
    background-color: rgb(217, 221, 235);
}

body {
  font-family: Arial, sans-serif;
  color: #502a2a;
  line-height: 3.6;
  text-align: center;
}

.nav-link{
	line-height: 1.6;
}
footer {
    border-top: 1px solid #ccc; /* Ligne de séparation en haut du footer */
    padding-top: 10px; /* Espacement en haut du footer */
}

.email-list {
    display: flex; /* Afficher les adresses e-mail côte à côte */
	text-align: center;
}

.email-list a {
    margin-right: 100px; /* Espacement entre les adresses e-mail */
	margin-inline: auto;
}

.response{
    position: relative;
    z-index: 0;
    background-color:rgb(217, 221, 235);
}